.item {
  width: 100%;
  max-width: 20rem;
  height: 13rem;
  border: 0.2rem solid var(--main-color);
  background: var(--main-bg-color);
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.badge {
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
}

h3 {
  color: var(--main-color);
  text-align: center;
  font-size: 1.4rem;
}

@media (width > 90rem) {
  .badge {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.6rem;
  }
}
