.actions {
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.actions a {
  margin: 0 0 1rem 0;
  font-size: 1rem;
}

.actions a:last-of-type {
  margin: 0;
}

.action {
  position: relative;
  padding: 0.2rem;
}

@media (width > 90rem) {
  .actions {
    height: 5rem;
  }

  .action a {
    font-size: 1.4rem;
  }
}
