.brand {
  color: #fff;
  font-size: 2rem;
  padding: 0.2rem;
}

.brand:hover,
.brand:active {
  color: var(--main-color);
}

.brand:focus-visible {
  outline: 0.1rem solid var(--main-color);
  border-radius: 0.2rem;
}

@media (min-width: 48rem) {
  .brand {
    font-size: 1.5rem;
  }
}

@media (min-width: 90rem) {
  .brand {
    font-size: 2rem;
  }
}
