.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.items {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.item {
  position: relative;
  margin-bottom: 0.2rem;
  padding: 0.2rem;
}

.item:last-of-type {
  margin: 0;
}

@media (min-width: 48rem) {
  .items {
    flex-direction: row;
  }

  .item {
    margin-right: 0.6rem;
    margin-bottom: 0;
  }
}
