.header {
  grid-area: 1;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.brand {
  margin: 1rem 0;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

@media (min-width: 40rem) {
  .header {
    flex-direction: row;
    justify-content: space-around;
  }

  .brand {
    margin-bottom: 0;
  }
}
