.item {
  margin-right: 0.2rem;
  padding: 0.2rem;
}

.item:last-of-type {
  margin: 0;
}

.link {
  position: relative;
  padding: 0.2rem;
}

.link:hover::before,
.link:active::before,
.activeLink::before {
  content: '';
  width: 1rem;
  height: 0.2rem;
  border-radius: 0.2rem;
  background: #a8a8a8;
  position: absolute;
  bottom: 0;
  left: 0;
}

.link:focus-visible {
  outline: 0.1rem solid #51cceb;
  border-radius: 0.2rem;
}

.activeLink::before {
  background: var(--main-color);
}

@media (min-width: 90rem) {
  .link {
    font-size: 1.2rem;
  }
}
