:root {
  --main-color: #23bde4;
  --main-bg-color: #2e2e2e;
  --secondary-bg-color: #383838;
  --main-text-color: #fff;
  --secondary-text-color: #b9b9b9;
  --theme-switch-color: #505050;
}

:root:has(input[type='checkbox']:not(:checked)#theme-switch) {
  --main-bg-color: #f8f8f8;
  --secondary-bg-color: #e9e9e9;
  --main-text-color: #000;
  --secondary-text-color: #6e6e6e;
  --theme-switch-color: #d4d4d4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  background: var(--main-bg-color);
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-rows: 10rem auto 8rem;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

a:focus {
  outline: none;
}

.a:focus-visible {
  outline: 0.1rem solid var(--main-color);
  border-radius: 0.2rem;
}

input[type='checkbox']#theme-switch {
  appearance: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
