.container {
  position: relative;
  padding: 1rem 0;
  background-color: var(--container-background);
}

.container > h2 {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2rem;
}
