.container {
  position: relative;
  padding: 1rem 0;
  background-color: var(--secondary-bg-color);
}

.container > h2 {
  color: var(--main-text-color);
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2rem;
}

@media (width > 90rem) {
  .container {
    padding: 1.2rem 0;
  }

  .container > h2 {
    font-size: 1.6rem;
  }
}
