.container {
  position: relative;
  padding: 1rem 0;
  width: 100%;
  background-color: var(--container-background);
}

.container > h2 {
  position: absolute;
  width: 100%;
  border: 0.1rem solid var(--main-color);
  background-color: var(--main-color);
  padding: 0.2rem 0.5rem;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.2rem;
  z-index: 2;
}

.title-top > h2 {
  top: -1.2rem;
}

.title-bottom > h2 {
  bottom: -1.2rem;
}

@media (min-width: 26rem) {
  .container > h2 {
    width: 60%;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
  }
}
